
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0f172a; 
  color: #e2e8f0; 
  font-family: 'Poppins', sans-serif; 
  overflow-x: hidden; 
  font-size: 16px;
  line-height: 1.6;
}



.font-pixel {
  font-family: 'Press Start 2P', cursive;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #06b6d4; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2; 
}